
$green: #76b900;
$teal: #00b44d;
$gray-100: #f7f8f8;
$gray-200: #eceded;
$primary: $green;
$secondary: $teal;
$info: $teal;
$gray-400: #dadcdc;
$gray-600: #e2e2e3;
$gray-700: #b7b8b9;
$gray-900:  #707173;
$gray-800: #8c8d8f;
$gray-500: $gray-400;
$blue: #0076b9;
$cyan: #00b4a7;
$enable-rounded: false;
$enable-responsive-font-sizes: true;
$enable-deprecation-messages: false;
$gray-300: #e1e3e3;
$breadcrumb-divider-color: $gray-900;
$breadcrumb-active-color: $gray-900;
$input-color: $gray-900;
$input-placeholder-color: $gray-700;